*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw;
    background-color: gray;
} 

.container{
    height: 100%;
    width: 100%;

    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
} 

.box{
    border: 0.3rem solid black;
} 

.box1{
    background-color: green;
    grid-row: 1/4;
} 

.box2{
    background-color: green;
    grid-column: 2/4;
} 

.box3{
    background-color: red;
} 

.box4 {
    grid-row: 2/3;
    background-color: orange;
}  

.box5{
    grid-row: 2/3;
    background-color: red;
}  
.box6{
    grid-row: 2/4;
    background-color: green;
} 

.box7{
    background-color: red;
} 

.box8{
    background-color: orange;
}
