*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw;
}

.container{
    padding: 3rem;
    /* height: 700px; */
    height: 100%;
    /* width: 700px; */
    width: 100%;
    background-color: gray;
    display: grid; 
    /* grid-template-columns: 200px 200px 200px; */
    /* Fraction  */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px; */
    grid-template-rows: 1fr 1fr ;

    /* To add gap */
    /* row-gap: 1rem;
    column-gap: 1rem; */
    gap: 1rem;
} 

.box{
    /* height: 100px;
    width: 100px; */
    background-color: orange;
    border: 0.3rem solid black;
}