*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
    width: 100vw;
} 

.container{
    padding: 3rem;
    height: 100%;
   
    width: 100%;
    background-color: gray;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;

    gap: 1rem; 
    font-size: 2rem;
} 

.box{ 
    background-color: orange;
    border: 0.3rem solid black;
} 

.header , .footer{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* (Shorthand = start/end) */
    grid-column: 1/4;  
}  

.sidebar{
    grid-row: 2/4;
} 

.box3{
    grid-column: 2/4;
}

