h1{
    text-shadow: 10px 5px 5px red;
} 

p{
    /* text-shadow: 5px -10px 3px blue; */
    text-shadow: 5px 5px 4px black;
}
/* text-shadow

Adds shadow effects to text characters.

Syntax:

text-shadow: offset-x offset-y blur-radius color;


Parameters:

offset-x → Horizontal distance of the shadow

offset-y → Vertical distance of the shadow

blur-radius (optional) → How soft or blurry the shadow appears

color → Shadow color */